# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/

# SQLite database (optional)
database.db